body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.guesswrapper {
  margin-top: 25px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.one {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 15px;
  margin-right: 5px;
}
.two {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.three {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.four {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.five {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.six {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.seven {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.eight {
  background-color: #595959;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.guesses {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  margin-top: 5px;
  font-size: 15px;
  color: #595959;
}

.header {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 35px;
  color: #595959;
}

.inputWrapper {
  margin-top: 40px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

input {
  height: 35px;
  line-height: 2px;
  background-color: transparent;
  -webkit-appearance:none;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #595959;
  border-bottom-width: 4px;
  outline: none;
  width: 55px;
  font-size: 40px;
  font-family: 'Gloria Hallelujah', cursive;
}

.inputLabel {
  font-family: 'Gloria Hallelujah', cursive;
  margin-left: -38px;
  margin-top: 10px;
  font-size: 25px;
  color: #595959;
}

.listOfWords{
  color: black;
  font-size: 20px;
}

.unguessedLetters {
  width: 24vw;
  height: 15vw;
}

.newWord {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  font-size: 35px;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
}

section div {
  width: 150px;
  margin: 0vw 1vw 0vw 1vw;
  border-bottom-color: #595959;
  border-bottom-style: solid;
  border-bottom-width: 3px;
}
